CREATE DATABASE QLTV
GO
USE [QLTV]
GO

CREATE TABLE [TaiKhoanNhanVien] (
    IDTaiKhoanNhanVien int primary key,
	IDNhanVien int,
	ChucVu nvarchar(10),
	Email NVARCHAR(50), 
	MatKhau NVARCHAR(max)
);


CREATE TABLE NhanVien(
	IDNhanVien INT PRIMARY KEY,
	HoTen NVARCHAR(50),
	GioiTinh NVARCHAR(5),
	ChucVu NVARCHAR(10),
	NgaySinh datetime,
	Email NVARCHAR(50), 
	SoDienThoai VARCHAR(15),
	GioiThieu NVARCHAR(1000),
	NgayNhanViec datetime,
	Avatar image
)

create table TaiKhoanNguoiDung
(
	IDTaiKhoanNguoiDung int primary key,
	IDNguoiDung int,
	Email nvarchar(50),
	MatKhau nvarchar(max)
)

create table NguoiDung
(
IDNguoiDung int primary key,
HoTen nvarchar(100),
GioiTinh NVARCHAR(10),
Lop nvarchar(50),
ChuyenNganh nvarchar(100),
NgaySinh datetime,
Email nvarchar(50),
SoDienThoai nvarchar(20),
GioiThieu nvarchar(1000),
LichSuMuon nvarchar(50),
Avatar image
)


create table Sach
(
IDSach	int primary key,
NgonNgu nvarchar(50),
PhienBan nvarchar(50),
TenSach	nvarchar(500),
TacGia	nvarchar(100),
TheLoai	nvarchar(100),
ChuyenNganh nvarchar(1000),
SoLuong	int,
NhaXuatBan	nvarchar(50),
NamXuatBan	datetime,
GioiThieu nvarchar(1000),
Avatar image
)

create table PhieuMuonSach
(
	IDPhieuMuonSach int primary key,
	IDNguoiDung int,
	HoTen nvarchar(50),
	IDSach int,
	TenSach nvarchar(500),
	Coupon bit
)

create table MuonTraSach
(
IDMuonTra	int primary key,
IDNguoiDung	int,
HoTen nvarchar(50),
IDSach	int,
TenSach nvarchar(500),
NgayMuon datetime,
NgayTraDuKien datetime,
NgayTraThucTe datetime,
SoTienPhat	int,
TinhTrang	nvarchar(50)
)

INSERT [dbo].[Sach] ([IDSach], [NgonNgu], [PhienBan], [TenSach], [TacGia], [TheLoai], [ChuyenNganh], [SoLuong], [NhaXuatBan], [NamXuatBan], [GioiThieu], [Avatar]) VALUES (2, N'Tiếng Anh', N'2', N'The Art of Marketing', N'Philip Kotler', N'Kinh doanh', N'Đầu tư tài chính, Kinh doanh quốc tế, Kinh tế đầu tư, Marketing, Ngân hàng, Ngân hàng đầu tư, Quản trị kinh doanh, Tài chính', 10, N'NXB Kim Đồng', CAST(N'2002-07-04 00:00:00.000' AS DateTime), N'Cuốn sách là một tác phẩm kinh điển về marketing, cung cấp cho người đọc những kiến thức và chiến lược marketing hiệu quả.', NULL)
INSERT [dbo].[Sach] ([IDSach], [NgonNgu], [PhienBan], [TenSach], [TacGia], [TheLoai], [ChuyenNganh], [SoLuong], [NhaXuatBan], [NamXuatBan], [GioiThieu], [Avatar]) VALUES (3, N'Tiếng Việt', N'3', N'Logic- Hệ thống và quản lý', N'Nguyễn Văn A', N'Kinh tế', N'Đầu tư tài chính, Kinh doanh quốc tế, Kinh tế đầu tư, Ngân hàng, Quản trị kinh doanh, Tài chính.', 2, N'NXB Giáo dục', CAST(N'2003-05-14 00:00:00.000' AS DateTime), N'Cuốn sách cung cấp cho người đọc kiến thức toàn diện về hệ thống và quản lý Logic, phù hợp cho sinh viên và người mới vào nghề.', NULL)
GO

-- Dữ liệu cho bảng [dbo].[NhanVien]

INSERT INTO [TaiKhoanNhanVien] (IDTaiKhoanNhanVien, IDNhanVien, ChucVu, Email, MatKhau)
VALUES 
(1, 201, N'Manager', N'phamtranvankhuong@ueh.edu.vn', N'khuong2022'),
(2, 202, N'Manager', N'nguyenthibangbang@ueh.edu.vn', N'bangbang123'),
(3, 203, N'Manager', N'tranminhdung@ueh.edu.vn', N'dungminh2024'),
(4, 204, N'Manager', N'lethithuhoa@ueh.edu.vn', N'hoathu2024'),
(5, 205, N'Manager', N'nguyenthitamdan@ueh.edu.vn', N'tamdan2024'),
(6, 206, N'Manager', N'nguyenlekhatu@ueh.edu.vn', N'khatu2024'),
(7, 207, N'Staff', N'thieubaotram@ueh.edu.vn', N'tramthieu2024')


-- Dữ liệu cho bảng [dbo].[NguoiDung]

INSERT INTO [TaiKhoanNguoiDung] (IDTaiKhoanNguoiDung, IDNguoiDung, Email, MatKhau)
VALUES 
(1, 1234567890, N'tuanle.1234567890@st.ueh.edu.vn', N'tuanle123'),
(2, 1234567891, N'haitran.1234567891@st.ueh.edu.vn', N'quanghai2024'),
(3, 1234567892, N'linhpham.1234567892@st.ueh.edu.vn', N'mylinh123'),
(4, 1234567893, N'annguyen.1234567893@st.ueh.edu.vn', N'nguyenan2024'),
(5, 1234567894, N'yhuynh.1234567894@st.ueh.edu.vn', N'nhuy123')



